header{
    background-color: white;
    padding:0;
    border-bottom: rgb(42, 62, 62) 1px solid;
}

a{
    color: rgb(25, 25, 26);

}

a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(101, 153, 155);
}

.container{
    margin: auto 0 ;
    display: flex;
    justify-content: space-between;
}


a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin:0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}